* {
    box-sizing: border-box;
    font-family: inherit;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    background-color: $siteBgc;
    color: $mainColor;
}
body {
    margin: 0;
}
p, h2, h3 {
    margin: 0;
}
button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 5px;
}
input {
    border: 0;
    border-bottom: black 1px solid;
    font-size: rem(18px);
    line-height: rem(22px);
}
a {
    color:#0084F4;
    text-decoration: none;
    padding: 4px 0;
}
h2{
    font-size: rem(26px);
    line-height: rem(28px);
}